package gen

import (
	sysUser "{{.ModuleName}}/internal/model/sysUser"
	"gorm.io/gen"
)

// GenSysUserBuild 生成sysUser数据CRUD依赖文件
func GenSysUserBuild() {
	g := gen.NewGenerator(gen.Config{
		OutPath: "internal/model/sysUser/query",
		Mode:    gen.WithoutContext | gen.WithDefaultQuery | gen.WithQueryInterface,
	})

	g.ApplyBasic(
		sysUser.SysUser{},
	)
	g.Execute()
}
