// Package model {{.Desc}}
package model

import (
  "gorm.io/gorm"
  "time"
	{{range .Import}}"{{.}}"
	{{end}}
)

type {{.StructName | initialLetter}} struct {
  ID        uint `gorm:"primarykey"`
  UID        string `json:"uid" gorm:"type:varchar(255);column:uid;comment:uid"`
  {{range .Data}}{{.Name | initialLetter}} {{.StructType}} `json:"{{.StructTag}}" gorm:"type:{{.SqlType}};column:{{.SqlTag}};comment:{{.Description}}"`
  {{end}}CreatedAt   time.Time      `json:"createdAt" gorm:"type:datetime;column:created_at;comment:用户创建时间"`
  UpdatedAt   time.Time      `json:"updatedAt" gorm:"type:datetime;column:updated_at;comment:用户信息更新时间"`
  DeletedAt gorm.DeletedAt `gorm:"index"`
}

func ({{.StructName | initialLetter}}) TableName() string {
    return "{{.Table}}"
}

type {{.StructName | initialLetter}}Query struct {
  ID        uint `form:"id" json:"id"`
  UID        string `form:"uid" json:"uid"`
  Page      int    `form:"page" json:"page"`
  Total     int    `form:"total" json:"total"`
  PageSize  int    `form:"pageSize" json:"pageSize"`
  {{range .Data}}{{.Name | initialLetter}} {{.StructType | dataType}} `form:"{{.StructTag}}" json:"{{.StructTag}}"`
  {{end}}CreatedAt int64 `form:"createdAt" json:"createdAt"`
}