package gen

import (
	 "{{.ModuleName}}/internal/model/system/role"
	"gorm.io/gen"
)

// GenRoleBuild 生成role CRUD依赖文件
func GenRoleBuild() {
	g := gen.NewGenerator(gen.Config{
		OutPath: "internal/model/system/role/query",
		Mode:    gen.WithoutContext | gen.WithDefaultQuery | gen.WithQueryInterface,
	})

	g.ApplyBasic(
		model.Role{},
	)
	g.Execute()
}
