package gen

import (
	api "{{.ModuleName}}/internal/model/system/api"
	"gorm.io/gen"
)

// GenApiBuild 生成Api数据CRUD依赖文件
func GenApiBuild() {
	g := gen.NewGenerator(gen.Config{
		OutPath: "internal/model/system/api/query",
		Mode:    gen.WithoutContext | gen.WithDefaultQuery | gen.WithQueryInterface,
	})

	g.ApplyBasic(
		api.Api{},
	)
	g.Execute()
}
