package api

import (
	"github.com/gin-gonic/gin"
	"{{.ModuleName}}/internal/model/{{.FilePath}}"
	service "{{.ModuleName}}/internal/service/{{.FilePath}}"
	strconvx "{{.ModuleName}}/pkg/strconv"
	"{{.ModuleName}}/pkg/response"
)

type {{.StructName}}Api struct {
	reply response.IResponse
	sv    *service.{{.StructName}}Service
}

func New{{.StructName}}Api(sv *service.{{.StructName}}Service) *{{.StructName}}Api {
	return &{{.StructName}}Api{reply: response.New(), sv: sv}
}

// GetSelfInfo
// @auth true
func (a *{{.StructName}}Api) GetSelfInfo(ctx *gin.Context) {
	uid := ctx.GetString("uid")
	list, err := a.sv.GetSelfInfo(uid)
	if err != nil {
		a.reply.New().WithCode(400).WithMessage(err.Error()).Fail(ctx)
		return
	}
	a.reply.New().WithMessage("成功").WithData(list).Success(ctx)
}

// Login
// @model model.Login
func (a *{{.StructName}}Api) Login(ctx *gin.Context) {
	var oo model.Login
	if err := ctx.ShouldBindJSON(&oo); err != nil {
		a.reply.New().WithCode(400).WithMessage(err.Error()).Fail(ctx)
		return
	}
	token, err := a.sv.Login(&oo)
	if err != nil {
		a.reply.New().WithCode(400).WithMessage(err.Error()).Fail(ctx)
		return
	}
	a.reply.WithMessage("登录成功·欢迎回来").WithData(gin.H{"token": token}).Success(ctx)
}

// Logout
// @auth true
func (a *{{.StructName}}Api) Logout(ctx *gin.Context) {
 /*
 	自己处理退出逻辑
 	*/
	a.reply.New().WithMessage("退出成功").Success(ctx)
}

// Register
// @model model.Login
func (a *{{.StructName}}Api) Register(ctx *gin.Context) {
	var oo model.{{.StructName}}
	if err := ctx.ShouldBindJSON(&oo); err != nil {
		a.reply.New().WithCode(400).WithMessage(err.Error()).Fail(ctx)
		return
	}
	err := a.sv.Register(&oo)
	if err != nil {
		a.reply.New().WithCode(400).WithMessage(err.Error()).Fail(ctx)
		return
	}
	a.reply.New().WithMessage("成功").Success(ctx)
}

func (a *{{.StructName}}Api) GetUserList(ctx *gin.Context) {
	resp, err := a.sv.GetUserList()
	if err != nil {
		a.reply.New().WithCode(400).WithMessage(err.Error()).Fail(ctx)
		return
	}
	a.reply.New().WithMessage("成功").WithData(resp).Success(ctx)
}
func (a *{{.StructName}}Api) EditUserInfo(ctx *gin.Context) {
	var oo model.{{.StructName}}
	if err := ctx.ShouldBindJSON(&oo); err != nil {
		a.reply.New().WithCode(400).WithMessage(err.Error()).Fail(ctx)
		return
	}
	err := a.sv.EditUserInfo(&oo)
	if err != nil {
		a.reply.New().WithCode(400).WithMessage(err.Error()).Fail(ctx)
		return
	}
	a.reply.New().WithMessage("成功").Success(ctx)
}

func (a *{{.StructName}}Api) DeleteUser(ctx *gin.Context) {
	id := strconvx.StringToUint(ctx.Query("id"))
	if id == 0 {
		a.reply.New().WithCode(400).WithMessage("id not found").Fail(ctx)
		return
	}
	err := a.sv.DeleteUser(id)
	if err != nil {
		a.reply.New().WithCode(400).WithMessage(err.Error()).Fail(ctx)
		return
	}
	a.reply.New().WithMessage("删除成功").Success(ctx)
}