package data

import (
	"context"
	"errors"
	"fmt"
	"github.com/redis/go-redis/v9"
	"{{.ModuleName}}/config"
	 "{{.ModuleName}}/pkg/json"
	"strconv"
	"time"
)

var rdb *Redis

type Redis struct {
	Client *redis.Client
	Ctx    context.Context
}

func GetRedis() *Redis {
	return rdb
}

func InitRedis(config config.Config) (client *Redis, err error) {
	conf := config.Redis
	rdbClient := redis.NewClient(&redis.Options{
		Addr:         conf.Addr,
		Password:     conf.Password,
		Username:     conf.UserName,
		DB:           conf.DB,
		WriteTimeout: conf.WriteTimeout,
		ReadTimeout:  conf.ReadTimeout,
	})
	_, err = rdbClient.Ping(context.Background()).Result()
	if err != nil {
		return nil, errors.New("Redis 连接失败: " + err.Error())
	}

	rdb = &Redis{
		Client: rdbClient,
		Ctx:    context.Background(),
	}
	return rdb, nil
}

// Subscribe 订阅消息
func (rs Redis) Subscribe(channel string) *redis.PubSub {
	pubs := rs.Client.Subscribe(rs.Ctx, channel)
	return pubs
}

// Publish 发布消息
func (rs Redis) Publish(data []byte, channel string) error {
	err := rs.Client.Publish(rs.Ctx, channel, data).Err()
	if err != nil {
		return err
	}
	return nil
}

// Set 设置 key 的值
func (rs Redis) Set(key string, value interface{}, ex time.Duration) {
	err := rs.Client.Set(rs.Ctx, key, value, ex*time.Second).Err()
	if err != nil {
		fmt.Println(err)
	}
}

// Get 获取 key 的值
func (rs Redis) Get(key string) string {
	val, err := rs.Client.Get(rs.Ctx, key).Result()
	if err != nil {
		return ""
	}
	return val
}

// Del 删除 key
func (rs Redis) Del(key string) int64 {
	val, err := rs.Client.Del(rs.Ctx, key).Result()
	if err != nil {
		return 0
	}
	return val
}

// GetInt64 获取 key 的值 (int64)
func (rs Redis) GetInt64(key string) (int64, error) {
	result, err := rs.Client.Get(rs.Ctx, key).Result()
	if err != nil {
		if errors.Is(err, redis.Nil) {
			return 0, nil
		}
		return 0, err
	}
	return strconv.ParseInt(result, 10, 64)
}

// GetInt 获取 key 的值 (int)
func (rs Redis) GetInt(key string) (int, error) {
	result, err := rs.Client.Get(rs.Ctx, key).Result()
	if err != nil {
		if errors.Is(err, redis.Nil) {
			return 0, nil
		}
		return 0, err
	}
	return strconv.Atoi(result)
}

// SetInt 设置 key 的值 (int64)
func (rs Redis) SetInt(key string, value int64, expiration time.Duration) error {
	return rs.Client.Set(rs.Ctx, key, strconv.FormatInt(value, 10), expiration*time.Second).Err()
}

// IncrInt 增加 key 的值 (int64)
func (rs Redis) IncrInt(key string, value int64) (int64, error) {
	return rs.Client.IncrBy(rs.Ctx, key, value).Result()
}

// DecrInt 减少 key 的值
func (rs Redis) DecrInt(key string, value int64) (int64, error) {
	return rs.Client.DecrBy(rs.Ctx, key, value).Result()
}

// GetFloat 获取 key 的值 (float64)
func (rs Redis) GetFloat(key string) (float64, error) {
	result, err := rs.Client.Get(rs.Ctx, key).Result()
	if err != nil {
		if errors.Is(err, redis.Nil) {
			return 0, nil
		}
		return 0, err
	}
	return strconv.ParseFloat(result, 64)
}

// SetFloat 设置 key 的值 (float64)
func (rs Redis) SetFloat(key string, value float64, expiration time.Duration) error {
	return rs.Client.Set(rs.Ctx, key, strconv.FormatFloat(value, 'f', -1, 64), expiration*time.Second).Err()
}

// IncrFloat 增加 key 的值 (float64)
func (rs Redis) IncrFloat(key string, value float64) (float64, error) {
	return rs.Client.IncrByFloat(rs.Ctx, key, value).Result()
}

// GetObject 获取 key 的值
func (rs Redis) GetObject(key string, v interface{}) error {
	result, err := rs.Client.Get(rs.Ctx, key).Result()
	if err != nil {
		//if errors.Is(err, redis.Nil) {
		//	return nil
		//}
		return err
	}
	return json.Unmarshal([]byte(result), v)
}

// SetObject 设置 key 的值
func (rs Redis) SetObject(key string, value any, expiration time.Duration) error {
	data := json.Marshal(value)
	if data == nil {
		return errors.New("SetObject Fail")
	}
	return rs.Client.Set(rs.Ctx, key, data, expiration*time.Second).Err()
}

// Incr 增加 key 的值
func (rs Redis) Incr(key string, value interface{}) (interface{}, error) {
	switch v := value.(type) {
	case int64:
		return rs.IncrInt(key, v)
	case float64:
		return rs.IncrFloat(key, v)
	default:
		return nil, fmt.Errorf("unsupported type: %T", v)
	}
}

// SetEx 设置 key 的过期时间
func (rs Redis) SetEx(key string, t time.Duration) {
	rs.Client.Expire(rs.Ctx, key, t*time.Second)
}

// GetTTL 获取 key 的过期时间
func (rs Redis) GetTTL(key string) float64 {
	ttlResult, err := rs.Client.TTL(rs.Ctx, key).Result()
	if err != nil {
		// 处理错误
	}
	return ttlResult.Seconds()
}

// Scan 迭代数据库中所有符合给定模式(pattern)的 key
func (rs Redis) Scan(key string, count int64) []string {
	var cursor uint64
	var keys []string
	var allKeys []string
	for {

		var err error
		keys, cursor, err = rs.Client.Scan(rs.Ctx, cursor, fmt.Sprintf("%s:*", key), 10).Result()
		if err != nil {
			return nil
		}

		for _, key := range keys {
			allKeys = append(allKeys, key)
		}

		// 没有更多key了
		if cursor == 0 {
			break
		}
	}
	return allKeys
}

// SetNX 如果 key 不存在，则 SET 操作
func (rs Redis) SetNX(key string, value interface{}, expiration time.Duration) error {
	result := rdb.Client.SetNX(rs.Ctx, key, value, expiration*time.Second)
	if result.Val() {
		return nil
	} else {
		return errors.New("key已存在")
	}
}

// ZAdd 向有序集合添加一个成员
func (rs Redis) ZAdd(key string, data interface{}) error {
	marshal := json.Marshal(data)
	if marshal == nil {
		return errors.New("ZAdd操作失败")
	}
	score := float64(time.Now().Unix())
	member := marshal
	result := rdb.Client.ZAdd(rs.Ctx, key, redis.Z{Score: score, Member: member})
	_, err := result.Result()
	if err != nil {
		return err
	}
	return nil
}

// ZRange 返回有序集合中指定区间的成员
func (rs Redis) ZRange(key string) []string {
	var v []string
	result := rdb.Client.ZRange(rs.Ctx, key, 0, -1)
	dates := result.Val()
	for _, val := range dates {
		v = append(v, val)
	}
	return v
}

// Exists 检查键是否存在
func (rs Redis) Exists(key string) (bool, error) {
	exists, err := rdb.Client.Exists(rs.Ctx, key).Result()
	if err != nil {
		return false, err
	}

	if exists == 1 {
		return true, nil
	} else {
		return false, nil
	}
}

// Enqueue 向队列中添加项目。
func (rs Redis) Enqueue(key string, item interface{}) error {
	data := json.Marshal(item)
	return rs.Client.LPush(rs.Ctx, key, data).Err()
}

// Dequeue 从队列中删除并返回第一个项目。
func (rs Redis) Dequeue(key string, item interface{}) error {
	result, err := rs.Client.BRPop(rs.Ctx, 0, key).Result()
	if err != nil {
		return err
	}
	if len(result) != 2 {
		return errors.New("invalid result length")
	}
	data := result[1]
	return json.Unmarshal([]byte(data), item)
}

// Peek 返回队列中的第一个项目
func (rs Redis) Peek(key string, item interface{}) error {
	result, err := rs.Client.LIndex(rs.Ctx, key, 0).Result()
	if err == redis.Nil {
		return errors.New("queue is empty")
	}

	return json.Unmarshal([]byte(result), item)
}

// Length 返回队列中的项目数。
func (rs Redis) Length(key string) (int64, error) {
	return rs.Client.LLen(rs.Ctx, key).Result()
}

// Clear 会从队列中删除key。
func (rs Redis) Clear(key string) error {
	return rs.Client.Del(rs.Ctx, key).Err()
}

// EnqueueWithTTL 值将一个项目添加到队列末尾并设置过期时间。
func (rs Redis) EnqueueWithTTL(key string, item interface{}, ttl time.Duration) error {
	data := json.Marshal(item)
	_, err := rs.Client.Pipelined(rs.Ctx, func(pipe redis.Pipeliner) error {
		pipe.LPush(rs.Ctx, key, data)
		pipe.Expire(rs.Ctx, key, ttl*time.Second)
		return nil
	})
	if err != nil {
		return err
	}
	return nil
}
